/* Filosofos.css */

.app__wrapper_filo {
    background-color: var(--color-black);
    padding: 4rem 2rem; /* Ajusta el espaciado a la izquierda y derecha según sea necesario */
    text-align: center;
  }
  
  .app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 87px;
    font-size: 70px;
  }
  
  .subheading {
    color: var(--color-golden);
    font-family: var(--font-accent);
    font-size: 24px;
    margin-bottom: 1rem;
  }
  
  .p__opensans {
    color: var(--color-white);
    margin: 2rem 0;
  }
  
  .app__wrapper_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .foto-card {
    position: relative;
    width: calc(33.33% - 1rem);
    margin-bottom: 2rem;
  }
  
  .foto-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: 0.5s ease;
  }
  
  .foto-card:hover img {
    opacity: 0.7;
  }

  .react-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .react-modal-content {
    position: relative;
    background: var(--color-black);
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .react-modal-content img {
    width: 100%;
    height: auto;
    max-height: 400px; /* Ajusta según sea necesario */
    object-fit: contain;
    border-radius: 8px;
  }
  
  @media screen and (max-width: 768px) {
    .foto-card {
      width: calc(50% - 1rem);
    }
  }
  